.checkbox-label {
    font-size: 12px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--secondary-color);
    padding-left: 28px;
    position: relative;
    margin-bottom: 30px;
    display: block;

    @media (min-width: 1200px) {
        font-size: 14px;
    }
}

.terms-checkbox-link {
    color: var(--accent-color);
}

.checkbox {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    &-icon {
        width: 16px;
        height: 16px;
        border: 2px solid var(--primary-color);
        border-radius: 2px;
        position: absolute;
        top: 50%;
        left: 8px;
        transform: translateY(-50%);
    }
    
    &:checked + &-icon {
        width: 16px;
        height: 16px;
        border-color: transparent;
        background-color: var(--accent-color);
        background-image: url(../images/checkbox-tick.svg);
        background-repeat: no-repeat;
        background-position: center;
    }
}