.logo {
    font-family: 'Raleway', sans-serif;
    font-size: 26px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: var(--accent-color);

    &-accent {
        color: black;
    }
    
    &-accent-inverse {
        color: white;
    }
    
    &-black {
        font-family: 'Raleway', sans-serif;
        font-size: 26px;
        font-weight: 700;
        line-height: 1.17;
        letter-spacing: 0.03em;
        color: black;
    }
}