* {
    box-sizing: border-box;
    list-style: none;
}

body {
    background-color: white;
    font-family: 'Roboto', sans-serif;
    color: var(--primary-color);
    margin: 0;
    padding: 0;
}

img {
    display: block;
    min-width: 100%;
    height: auto;
}

section {
    padding: 60px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;

    @media (min-width: 1200px) {
        padding: 94px 0;
    }
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
    padding: 0;
    margin: 0;
}

.no-text-decoration {
    text-decoration: none;
}

.no-list-style {
    list-style: none;
}

.container {
    width: 100%;
    max-width: 1200px;
    padding: 0 15px;
}

.section-title {
    font-weight: 700;
    font-size: 28px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 30px;

    @media (min-width: 1200px) {
        font-size: 36px;
        line-height: 1.17;
        margin-bottom: 50px;
    }
}

.hidden-title {
    display: none;
}

.is-hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
}